<ng-template #internalTemplate let-account let-paddingClass="paddingClass">
  <ion-select-option class="account-option" [ngClass]="paddingClass" [value]="account">{{ account.name }}</ion-select-option>
</ng-template>

<ion-select interface="popover" [label]="label" [value]="account" (ionChange)="setValue($event)">
  <ng-container *ngIf="optionTemplate">
    <ng-container *ngFor="let account of accounts">
      <ng-container *ngTemplateOutlet="optionTemplate; context: { $implicit: account, paddingClass: 'account-option lvl-0' }"></ng-container>
      <ng-container *ngFor="let innerAccount of account.innerAccounts">
        <ng-container *ngTemplateOutlet="optionTemplate; context: { $implicit: innerAccount, paddingClass: 'account-option lvl-1' }"></ng-container>
        <ng-container *ngFor="let lastInnerAccount of innerAccount.innerAccounts">
          <ng-container *ngTemplateOutlet="optionTemplate; context: { $implicit: lastInnerAccount, paddingClass: 'account-option lvl-2' }"></ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</ion-select>
<ion-icon
  *ngIf="allowClear && account"
  name="close-circle-outline"
  slot="end"
  (click)="setValue(null)">
</ion-icon>