<ion-header>
  <ion-toolbar>
    <ion-title>Transacciones</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Filtrar" [formControl]="filterControl" />
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (isFirstLoad) { <ion-spinner class="content-spinner" color="primary" /> }

  @if (transactions.length) {
    <ion-list>
      @for (transaction of transactions; track transaction.id) {
        @if (transaction.isLastOfDay) {
          <ion-item-divider color="medium">
            <ion-label class="bold-value">{{ transaction.dateText }}</ion-label>
          </ion-item-divider>
        }
        <ion-item>
          <ion-label>
            <ion-text>{{ transaction.description }}</ion-text>
            <p>
              {{ transaction.account.name }}
              @if (transaction.account.pocket) { ({{ transaction.account.pocket }}) }
              @if (transaction.destination) {
                <br>
                {{ transaction.destination.name }}
                @if (transaction.destination.pocket) { ({{ transaction.destination.pocket }}) }
              }
            </p>
          </ion-label>

          <ion-label class="ion-text-end bold-value color-value" slot="end" style="flex-grow: 0" [ngClass]="transaction.type">
            {{ transaction.value | currency:'':'$ ':'1.2-2' }}
          </ion-label>
        </ion-item>
      }
    </ion-list>
  }

  <ion-infinite-scroll (ionInfinite)="getMoreTransactions()">
    <ion-infinite-scroll-content />
  </ion-infinite-scroll>
</ion-content>