<ion-header>
  <ion-toolbar>
    <ion-title>Transacciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (isFirstLoad) { <ion-spinner class="content-spinner" color="primary"></ion-spinner> }

  @if (transactions.length) {
    <ion-list>
      @for (transaction of transactions; track transaction.id) {
        @if (separators[transaction.id]) {
          <ion-item-divider color="medium">
            <ion-label class="bold-value">{{ separators[transaction.id] }}</ion-label>
          </ion-item-divider>
        }
        <ion-item>
          <ion-label>
            <ion-text>{{ transaction.description }}</ion-text>
            <p>
              {{ transaction.account.name }}
              @if (transaction.account.pocket) { ({{ transaction.account.pocket }}) }
              @if (transaction.type === TransactionType.TRANSFER && transaction.destination) {
                <br>
                {{ transaction.destination.name }}
                @if (transaction.destination.pocket) { ({{ transaction.destination.pocket }}) }
              }
            </p>
          </ion-label>

          @switch (transaction.type) {
            @case (TransactionType.IN) {
              <ng-container *ngTemplateOutlet="transactionValue; context: { $implicit: transaction, color: 'success' }" />
            }
            @case (TransactionType.OUT) {
              <ng-container *ngTemplateOutlet="transactionValue; context: { $implicit: transaction, color: 'danger' }" />
            }
            @case (TransactionType.TRANSFER) {
              <ng-container *ngTemplateOutlet="transactionValue; context: { $implicit: transaction, color: 'primary' }" />
            }
          }
        </ion-item>
      }
    </ion-list>
  }

  <ion-infinite-scroll (ionInfinite)="getTransactions()">
    <ion-infinite-scroll-content />
  </ion-infinite-scroll>
</ion-content>

<ng-template #transactionValue let-t let-color="color">
  <ion-label class="bold-value ion-text-end" slot="end" [color]="color">{{ t.value | currency:'':'$ ':'1.2-2' }}</ion-label>
</ng-template>