<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Totales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group multiple value="0">
    <ion-accordion toggleIconSlot="start" value="0">
      <ion-item slot="header" class="lvl-1">
        <ion-label>Capital</ion-label>
        <ion-text class="green">
          <span>$ 5,250,413.54</span>
        </ion-text>
      </ion-item>

      <ion-accordion-group multiple slot="content" value="0">
        <ion-accordion toggleIconSlot="start" value="0">
          <ion-item slot="header" class="lvl-2 hide-arrow">
            <ion-label>Disponible</ion-label>
            <ion-text class="green">
              <span>$ 1,250,413.54</span>
            </ion-text>
          </ion-item>
        </ion-accordion>

        <ion-accordion toggleIconSlot="start" value="1">
          <ion-item slot="header" class="lvl-2">
            <ion-label>Bolsillos</ion-label>
            <ion-text class="green">
              <span>$ 1,250,413.54</span>
            </ion-text>
          </ion-item>

          <ion-accordion-group slot="content">
            <ion-accordion readonly toggleIconSlot="start">
              <ion-item slot="header" class="lvl-3 hide-arrow">
                <ion-label>Moto</ion-label>
                <ion-text class="green">
                  <span>$ 500,000.00</span>
                </ion-text>
              </ion-item>
            </ion-accordion>
          </ion-accordion-group>
        </ion-accordion>
      </ion-accordion-group>
    </ion-accordion>

    <ion-accordion readonly toggleIconSlot="start" value="1">
      <ion-item slot="header" class="lvl-1 hide-arrow">
        <ion-label>Crédito</ion-label>
        <ion-text class="red">
          <span>$ 5,250,413.54</span>
        </ion-text>
      </ion-item>
    </ion-accordion>

    <ion-accordion readonly toggleIconSlot="start" value="2">
      <ion-item slot="header" class="lvl-1 hide-arrow">
        <ion-label>Nequi</ion-label>
        <ion-text class="green">
          <span>$ 5,250,413.54</span>
        </ion-text>
      </ion-item>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>

<ion-footer>
  <ion-accordion-group>
    <ion-accordion toggleIconSlot="start">
      <ion-item slot="header" class="lvl-1 hide-arrow">
        <ion-label>Total</ion-label>
        <ion-text class="green">
          <span>$ 5,250,413.54</span>
        </ion-text>
      </ion-item>
    </ion-accordion>
  </ion-accordion-group>
</ion-footer>