rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }

    match /User/{userId} {
      allow get: if isAuthenticated() && request.auth.uid == userId;
    }

    match /Database/{dbName}/{document=**} {
      function itsDatabase() {
        return isAuthenticated() && get(/databases/$(database)/documents/User/$(request.auth.uid)).data.database == dbName;
      }

      allow read, write: if itsDatabase();
    }
  }
}