<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-input
          labelPlacement="floating"
          type="email"
          label="Email"
          formControlName="email"
        />
      </ion-item>
      <ion-item>
        <ion-input
          labelPlacement="floating"
          type="password"
          label="Contraseña"
          formControlName="password"
        />
      </ion-item>
      <ion-item>
        <ion-button type="submit" size="default" [disabled]="isLoading">
          @if (isLoading) { <ion-spinner /> }
          Iniciar Sesión
        </ion-button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>