ion-list,
form {
  height: 100%;
}

ion-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

ion-item {
  width: 80%;
}

ion-button {
  width: 100%;
}