<ion-header>
  <ion-toolbar>
    <ion-title>Nueva transacción</ion-title>
  </ion-toolbar>
</ion-header>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-segment formControlName="type">
          <ion-segment-button [ngClass]="TransactionType.OUT" [value]="TransactionType.OUT">
            Gasto
          </ion-segment-button>
          <ion-segment-button [ngClass]="TransactionType.IN" [value]="TransactionType.IN">
            Ingreso
          </ion-segment-button>
          <ion-segment-button [ngClass]="TransactionType.TRANSFER" [value]="TransactionType.TRANSFER">
            Transferir
          </ion-segment-button>
        </ion-segment>
      </ion-item>

      <ion-item>
        <ion-input
          label-placement="floating"
          label="Descripción"
          autocapitalize="sentences"
          formControlName="description"
        />
      </ion-item>

      <ion-item>
        <ion-input label-placement="floating" label="Valor" type="number" formControlName="value">
          @if (form.value.value) {
            <ion-text slot="end" class="value" [ngClass]="form.value.type">
              {{ form.value.value | currency:'':'$ ':'1.2-2' }}
            </ion-text>
          }
        </ion-input>
      </ion-item>

      <ion-item button (click)="initCalendarDate()">
        <ion-icon name="calendar-outline" class="ion-margin-end" />
        <ion-text class="ion-margin-end">{{ form.value.date | date:'dd/MM/yyyy' }}</ion-text>
        <ion-icon name="time-outline" class="ion-margin-horizontal" />
        <ion-text>{{ form.value.date | date:'hh:mm a' }}</ion-text>
        <ion-modal
          [isOpen]="!!calendarInitialDate"
          [initialBreakpoint]="0.75"
          [breakpoints]="[0.75, 1]"
          (didDismiss)="calendarInitialDate = undefined">
          <ng-template>
            <ion-datetime
              hourCycle="h12"
              cancelText="Cancelar"
              doneText="Aceptar"
              [value]="calendarInitialDate"
              [showDefaultButtons]="true"
              (ionChange)="setDate($event)">
              <span slot="time-label">Hora</span>
            </ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      <ng-container formGroupName="origin">
        <ion-item>
          <ion-select label="Cuenta de origen" interface="popover" formControlName="account">
            @for (account of accounts; track account.id) {
              <ion-select-option [value]="account">{{ account.name }}</ion-select-option>
            }
          </ion-select>
        </ion-item>

        <ion-item *hideOnDisable="'pocket'" button detail (click)="originPockets.present(); filterPockets('', true)">
          <ion-label>Bolsillo</ion-label>
          @if (form.value.origin.pocket; as pocket) {
            <ion-label slot="end" class="ion-text-end">{{ pocket.name }}</ion-label>
          }
          <ion-modal #originPockets [initialBreakpoint]="0.75" [breakpoints]="[0, 0.25, 0.5, 0.75, 1]">
            <ng-template>
              <ion-content>
                <ion-searchbar (ionInput)="filterPockets($event.detail.value ?? '', true)" />
                <ion-list>
                  @for (pocket of filteredPockets; track pocket.name) {
                    <ion-item button detail (click)="selectPocket('origin.pocket', pocket); originPockets.dismiss()">
                      {{ pocket.name }}
                    </ion-item>
                  }
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-item>
      </ng-container>

      <ng-container formGroupName="destination">
        <ion-item *hideOnDisable="'account'">
          <ion-select
            interface="popover"
            formControlName="account"
            [label]="'Cuenta ' + (form.value.type === TransactionType.OUT ? 'afectada' : 'de Destino')"
          >
            @for (account of destinationAccounts; track account.id) {
              <ion-select-option [value]="account">{{ account.name }}</ion-select-option>
            }
          </ion-select>
        </ion-item>

        <ion-item *hideOnDisable="'pocket'" button detail (click)="destinationPockets.present(); filterPockets('', false)">
          <ion-label>Bolsillo</ion-label>
          @if (form.value.destination.pocket; as pocket) {
            <ion-label slot="end" class="ion-text-end">{{ pocket.name }}</ion-label>
          }
          <ion-modal #destinationPockets [initialBreakpoint]="0.75" [breakpoints]="[0, 0.25, 0.5, 0.75, 1]">
            <ng-template>
              <ion-content>
                <ion-searchbar (ionInput)="filterPockets($event.detail.value ?? '', false)" />
                <ion-list>
                  @for (pocket of filteredPockets; track pocket.name) {
                    <ion-item button detail (click)="selectPocket('destination.pocket', pocket); destinationPockets.dismiss()">
                      {{ pocket.name }}
                    </ion-item>
                  }
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-item>
      </ng-container>
    </ion-list>
  </ion-content>

  <ion-footer>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="medium" (click)="closeModal.emit()">Cancelar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" type="submit" [disabled]="form.invalid || isLoading">
          @if (isLoading) { <ion-spinner /> }
          Crear
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-footer>
</form>

<ion-toast
  message="No puede transferir a la misma cuenta, edite los montos desde la opción Cuentas"
  [isOpen]="showToast"
  [duration]="3000"
  (didDismiss)="showToast = false">
</ion-toast>