<ion-header>
  <ion-toolbar>
    <ion-title>Nueva transacción</ion-title>
  </ion-toolbar>
</ion-header>

<ng-template #typeButton let-type let-color="color" let-text="text">
  <ion-button
    size="default"
    expand="block"
    [color]="color"
    [fill]="form.value.type === type ? 'solid' : 'outline'"
    (click)="setTransactionType(type)">
    {{ text }}
  </ion-button>
</ng-template>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-row style="width: 100%;">
          <ion-col size="4">
            <ng-container *ngTemplateOutlet="typeButton; context: {
              $implicit: TransactionType.OUT, color: 'danger', text: 'Gasto'
            }"></ng-container>
          </ion-col>
          <ion-col size="4">
            <ng-container *ngTemplateOutlet="typeButton; context: {
              $implicit: TransactionType.IN, color: 'success', text: 'Ingreso'
            }"></ng-container>
          </ion-col>
          <ion-col size="4">
            <ng-container *ngTemplateOutlet="typeButton; context: {
              $implicit: TransactionType.TRANSFER, color: 'primary', text: 'Transferir'
            }"></ng-container>

          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-input label-placement="floating" label="Descripción" formControlName="description"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label-placement="floating" label="Valor" type="number" formControlName="value"></ion-input>
      </ion-item>
      <ion-item button (click)="initCalendarDate()">
        <ion-icon name="calendar-outline" class="ion-margin-end"></ion-icon>
        <ion-text class="ion-margin-end">{{ form.value.date | date:'dd/MM/yyyy' }}</ion-text>
        <ion-icon name="time-outline" class="ion-margin-horizontal"></ion-icon>
        <ion-text>{{ form.value.date | date:'hh:mm a' }}</ion-text>
        <ion-modal
          [isOpen]="!!calendarInitialDate"
          [initialBreakpoint]="1"
          [breakpoints]="[0, 1]"
          (didDismiss)="calendarInitialDate = undefined">
          <ng-template>
            <ion-datetime
              hourCycle="h12"
              cancelText="Cancelar"
              doneText="Aceptar"
              [value]="calendarInitialDate"
              [showDefaultButtons]="true"
              (ionChange)="setDate($event)">
              <span slot="time-label">Hora</span>
            </ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>
      <ng-container formGroupName="origin">
        <ion-item>
          <ion-select label="Cuenta de origen" interface="popover" formControlName="account">
            @for (account of accounts; track account.id) {
              <ion-select-option [value]="account">{{ account.name }}</ion-select-option>
            }
          </ion-select>
        </ion-item>
        @if (form.value.origin.account?.isActive) {
          <ion-item>
            <ion-select label="Bolsillo" interface="popover" formControlName="pocket">
              @if (form.value.type === TransactionType.TRANSFER) {
                <ion-select-option [value]="0">Deuda</ion-select-option>
              }
              @for (pocket of form.value.origin.account.pockets; track pocket.name) {
                <ion-select-option [value]="pocket">{{ pocket.name }}</ion-select-option>
              }
            </ion-select>
          </ion-item>
        }
      </ng-container>
      @if (showDestination) {
        <ng-container formGroupName="destination">
          <ion-item>
            <ion-select
              [label]="'Cuenta ' + (form.value.type === TransactionType.OUT ? 'afectada' : 'de Destino')"
              interface="popover"
              formControlName="account">
              @for (account of destinationAccounts; track account.id) {
                <ion-select-option [value]="account">{{ account.name }}</ion-select-option>
              }
            </ion-select>
          </ion-item>
          @if (form.value.destination.account?.isActive) {
            <ion-item>
              <ion-select label="Bolsillo" interface="popover" formControlName="pocket">
                @for (pocket of form.value.destination.account.pockets; track pocket.name) {
                  <ion-select-option [value]="pocket">{{ pocket.name }}</ion-select-option>
                }
              </ion-select>
            </ion-item>
          }
        </ng-container>
      }
    </ion-list>
  </ion-content>

  <ion-footer>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="medium" (click)="closeModal.emit()">Cancelar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" type="submit" [disabled]="form.invalid || isLoading">
          @if (isLoading) { <ion-spinner></ion-spinner> }
          Crear
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-footer>
</form>

<ion-toast
  message="No puede transferir a la misma cuenta, edite los montos desde la opción Cuentas"
  [isOpen]="showToast"
  [duration]="3000"
  (didDismiss)="showToast = false">
</ion-toast>