ion-text {
  &.green {  
    color: var(--ion-color-success);
  }
  
  &.red {
    color: var(--ion-color-danger);
  }
}

@for $i from 0 through 2 {
  .lvl-#{$i + 1} {
    font-size: calc(18px - #{$i*2}px) !important;

    &.hide-arrow ::ng-deep ion-icon {
      opacity: 0;
    }

    ion-label {
      padding-left: #{$i*16}px;
    }

    ion-text {
      font-weight: #{700 - ($i*100)};
    }
  }
}