<ion-header>
  <ion-toolbar>
    <ion-title>Cuentas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="isFormOpen = true">
        <ion-icon slot="icon-only" name="add-circle-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="accounts">
    <app-account-item *ngFor="let account of accounts" [account]="account"></app-account-item>
  </ng-container>
  <ion-modal [isOpen]="isFormOpen" (didDismiss)="isFormOpen = false">
    <ng-template>
      <app-account-form (onClose)="isFormOpen = false"></app-account-form>
    </ng-template>
  </ion-modal>
</ion-content>

<ion-footer>
  <ion-accordion-group>
    <ion-accordion toggleIconSlot="start">
      <ion-item slot="header" class="lvl-1 hide-arrow">
        <ion-label>Total</ion-label>
        <ion-text class="green">
          <span>$ 5,250,413.54</span>
        </ion-text>
      </ion-item>
    </ion-accordion>
  </ion-accordion-group>
</ion-footer>