:host,
form {
  display: contents;
}

.custom-pocket {
  ::ng-deep .item-inner {
    flex-wrap: nowrap;
  }

  .pocket-name {
    --border-width: 0px;

    width: 150px;
    min-height: inherit;

    ::ng-deep .helper-text {
      color: var(--ion-color-success);
    }
  }

  .pocket-value {
    width: 84px;
    text-align: end;
  }
}

ion-content .custom-pocket:first-child ::ng-deep .helper-text {
  color: var(--ion-color-danger);
}