<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-input type="text" [(ngModel)]="accountName" />
    </ion-title>
    <ion-text slot="end" class="ion-padding-end" class="ion-padding-end bold-value green">
      {{ account.value | currency:'':'$ ':'1.2-2' }}
    </ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-text>
        <span>Deuda</span><br>
        <small class="red">{{ debt | currency:'':'$ ':'1.2-2' }}</small>
      </ion-text>
      <ion-input slot="end" type="number" class="ion-text-end" [(ngModel)]="debt" (ngModelChange)="setTotal()" />
    </ion-item>
    <ion-item>
      <ion-text>
        <span>{{ account.pockets[0].name }}</span><br>
        <small class="green">{{ available | currency:'':'$ ':'1.2-2' }}</small>
      </ion-text>
      <ion-input slot="end" type="number" class="ion-text-end" [(ngModel)]="available" (ngModelChange)="setTotal()" />
    </ion-item>
    @for (pocket of pockets; track i; let i = $index) {
      <ion-item>
        <ion-input class="pocket-input" [helperText]="pocket.value | currency:'':'$ ':'1.2-2'" [(ngModel)]="pocket.name" />
        <ion-input slot="end" type="number" class="ion-text-end" style="width: 23%;" [(ngModel)]="pocket.value" (ngModelChange)="setTotal()" />
        <ion-icon
          slot="end"
          name="close-circle-outline"
          class="ion-margin-start"
          (click)="deletePocket(i)">
        </ion-icon>
      </ion-item>
    }
    <ion-item>
      <ion-icon name="add-circle-outline" style="margin: 0px auto" (click)="pockets.push({ name: '', value: 0 })" />
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-list>
      <ion-item>
        <ion-text slot="start">
          <span class="ion-margin-end">Total</span>
          <span class="bold-value green" style="user-select: text">
            {{ total | currency:'':'$ ':'1.2-2' }} ({{ account.value - total | currency:'':'$ ':'1.2-2' }})
          </span>
        </ion-text>
      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-footer>
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="medium" (click)="closeModal.emit()">Cancelar</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" type="submit" [disabled]="isLoading" (click)="save()">
            @if (isLoading) { <ion-spinner /> }
            Aceptar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>