<ion-header>
  <ion-toolbar [formGroup]="form">
    <ion-title>
      <ion-input type="text" formControlName="name" />
    </ion-title>
    <ion-text slot="end" class="ion-padding-end bold-value" [ngClass]="account.isActive ? 'green' : 'red'">
      {{ account.value | currency:'':'$ ':'1.2-2' }}
    </ion-text>
  </ion-toolbar>
</ion-header>

@if (account.isActive) {
  <ion-content [formGroup]="form">
    <ion-list>
      <ion-reorder-group [disabled]="false" (ionItemReorder)="dragPocket($event.detail)">
        <ion-item>
          <ion-text>
            <span>Deuda</span><br>
            <small class="red">{{ form.value.debt | currency:'':'$ ':'1.2-2' }}</small>
          </ion-text>
          <ion-input slot="end" type="number" class="ion-text-end" formControlName="debt" />
        </ion-item>
        <ng-container formArrayName="pockets">
          <ion-item formGroupName="0">
            <ion-text>
              <span>{{ account.pockets[0].name }}</span><br>
              <small class="green">{{ form.value.pockets[0].value | currency:'':'$ ':'1.2-2' }}</small>
            </ion-text>
            <ion-input slot="end" type="number" class="ion-text-end" formControlName="value" />
          </ion-item>
          @for (pocket of pockets.controls; track i; let i = $index) {
            @if (i > 0) {
              <ion-item [formGroupName]="i" class="custom-pocket">
                <ion-input
                  class="pocket-name"
                  formControlName="name"
                  [helperText]="form.value.pockets[i].value | currency:'':'$ ':'1.2-2'"
                />
                <ion-input class="pocket-value" formControlName="value" slot="end" type="number" />
                <ion-icon slot="end" name="close-circle-outline" (click)="deletePocket(i)" />
                <ion-reorder slot="end" class="ion-margin-start"></ion-reorder>
              </ion-item>
            }
          }
          <ion-item>
            <ion-icon name="add-circle-outline" style="margin: 0px auto" (click)="addPocket()" />
          </ion-item>
        </ng-container>
      </ion-reorder-group>
    </ion-list>
  </ion-content>
}

@if (account.isActive) {
  <ion-footer>
    <ion-toolbar>
      <ion-list>
        <ion-item>
          <ion-text slot="start">
            <span class="ion-margin-end">Total</span>
            <span class="bold-value green" style="user-select: text">
              {{ total | currency:'':'$ ':'1.2-2' }} ({{ account.value - total | currency:'':'$ ':'1.2-2' }})
            </span>
          </ion-text>
        </ion-item>
      </ion-list>
    </ion-toolbar>
  </ion-footer>
}
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="medium" (click)="closeModal.emit()">Cancelar</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" type="submit" [disabled]="form.invalid || isLoading" (click)="save()">
            @if (isLoading) { <ion-spinner /> }
            Aceptar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>