<ion-header>
  <ion-toolbar>
    <ion-title>Nueva cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-input label="Nombre" label-placement="floating" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select label="Tipo de cuenta" formControlName="isActive" [disabled]="form.value.account">
          <ion-select-option [value]="true">Activa</ion-select-option>
          <ion-select-option [value]="false">Pasiva</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select label="Cuenta padre" interface="popover" formControlName="account">
          <ng-container *ngIf="accounts">
            <ion-select-option [value]="null">No account</ion-select-option>
            <ng-container *ngFor="let account of accounts">
              <ion-select-option [value]="account">{{ account.name }}</ion-select-option>
              <ion-select-option
                class="inner-account"
                *ngFor="let innerAccount of account.innerAccounts"
                [value]="innerAccount">
                {{ innerAccount.name }}
              </ion-select-option>
            </ng-container>
          </ng-container>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="medium" (click)="onClose.emit()">Cancelar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" type="submit" [disabled]="form.invalid">Crear</ion-button>
      </ion-col>
    </ion-row>
  </ion-footer>
</form>