<ion-accordion-group multiple>
  <ion-accordion toggleIconSlot="start" [value]="account.id">
    <ion-item slot="header" [ngClass]="[!account.innerAccounts.length ? 'hide-arrow' : '', 'lvl-' + level]">
      <ng-template [ngTemplateOutlet]="account.isActive ? activeTemplate : pasiveTemplate"></ng-template>
    </ion-item>
    <ng-container *ngIf="account.innerAccounts?.length">
      <div slot="content">
        <app-account-item
          *ngFor="let innerAccount of account.innerAccounts"
          [account]="innerAccount"
          [level]="level + 1">
        </app-account-item>
      </div>
    </ng-container>
  </ion-accordion>
</ion-accordion-group>

<ng-template #activeTemplate>
  <ion-label>
    <span>{{ account.name }}</span>
    <p *ngIf="account.debt" [ngClass]="realValue?.color">{{ realValue?.value | currency:'':'$ ':'1.2-2' }}</p>
  </ion-label>
  <ion-text>
    <span class="value green">{{ account.value | currency:'':'$ ':'1.2-2' }}</span><br>
    <small *ngIf="account.debt" class="red">(- {{ account.debt | currency:'':'$ ':'1.2-2' }})</small>
  </ion-text>
</ng-template>

<ng-template #pasiveTemplate>
  <ion-label>{{ account.name }}</ion-label>
  <ion-text class="value red">{{ account.value | currency:'':'$ ':'1.2-2' }}</ion-text>
</ng-template>