<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="accounts" href="/accounts">
      <ion-icon name="cash-outline" />
      <ion-label>Cuentas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="transactions" href="/transactions">
      <ion-icon name="list-outline" />
      <ion-label>Transacciones</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-fab vertical="bottom" horizontal="start" style="bottom: 70px" (click)="logOut()">
  <ion-fab-button color="danger">
    <ion-icon name="power-outline" />
  </ion-fab-button>
</ion-fab>

@if (!isFormOpen) {
  <ion-fab vertical="bottom" horizontal="end" style="bottom: 70px" (click)="isFormOpen = true">
    <ion-fab-button>
      <ion-icon name="add" />
    </ion-fab-button>
  </ion-fab>
}

<ion-modal [isOpen]="isFormOpen" (didDismiss)="isFormOpen = false">
  <ng-template>
    <app-transaction-form (closeModal)="isFormOpen = false" />
  </ng-template>
</ion-modal>