<ion-header>
  <ion-toolbar>
    <ion-title>Cuentas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="isFormOpen = true">
        <ion-icon slot="icon-only" name="add-circle-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-template #activeTemplate let-account>
    <ion-label>
      <span>{{ account.name }}</span>
      @if (account.debt) {
        <p class="green">{{ account.value - account.debt | currency:'':'$ ':'1.2-2' }}</p>
      }
    </ion-label>
    <ion-text class="ion-text-end">
      <span class="bold-value green">{{ account.value | currency:'':'$ ':'1.2-2' }}</span><br>
      @if (account.debt) {
        <small class="red">(- {{ account.debt | currency:'':'$ ':'1.2-2' }})</small>
      }
    </ion-text>
  </ng-template>

  <ng-template #pasiveTemplate let-account>
    <ion-label>{{ account.name }}</ion-label>
    <ion-text class="bold-value red">{{ account.value | currency:'':'$ ':'1.2-2' }}</ion-text>
  </ng-template>

  @if (accounts) {
    <ion-accordion-group multiple [value]="accordeonValues">
      @for (account of accounts; track account.id) {
        <ion-accordion
          toggleIconSlot="start"
          [toggleIcon]="account.isActive ? 'chevron-down-outline' : null"
          [readonly]="!account.isActive"
          [value]="account.id"
          (contextmenu)="selectAccount(account)"
        >
          <ion-item slot="header">
            <ng-container
              *ngTemplateOutlet="account.isActive ? activeTemplate : pasiveTemplate; context: { $implicit: account }">
            </ng-container>
          </ion-item>

          @if (account.isActive) {
            <ion-list slot="content">
              @if (account.debt) {
                <ion-item>
                  <ion-label>Deuda</ion-label>
                  <ion-text class="red">{{ account.debt | currency:'':'$ ':'1.2-2' }}</ion-text>
                </ion-item>
              }
              @for (pocket of account.pockets; track pocket.name) {
                <ion-item>
                  <ion-label>{{ pocket.name }}</ion-label>
                  <ion-text class="green">{{ pocket.value | currency:'':'$ ':'1.2-2' }}</ion-text>
                </ion-item>
              }
            </ion-list>
          }
        </ion-accordion>
      }
    </ion-accordion-group>
  } @else {
    <ion-spinner color="primary"></ion-spinner>
  }

  <ion-modal [isOpen]="isFormOpen" (didDismiss)="isFormOpen = false">
    <ng-template>
      <!-- <app-account-form (onClose)="isFormOpen = false"></app-account-form> -->
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="!!selectedAccount" (didDismiss)="selectedAccount = undefined">
    <ng-template>
      <!-- <app-pockets *ngIf="selectedAccount" [account]="selectedAccount" (onClose)="selectedAccount = undefined"></app-pockets> -->
    </ng-template>
  </ion-modal>
</ion-content>