<ion-header>
  <ion-toolbar>
    <ion-title>Cuentas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="isFormOpen = true">
        <ion-icon slot="icon-only" name="add-circle-sharp" />
      </ion-button>
      <ion-button (click)="editAccountsOrder()">
        <ion-icon name="reorder-two-outline" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (accounts) {
    <ion-accordion-group multiple [value]="accordeonValues">
      <ion-reorder-group [disabled]="!disableReorder" (ionItemReorder)="accounts = $event.detail.complete(accounts)">
        @for (account of accounts; track account.id) {
          @if (account.isActive) {
            <ion-accordion
              toggleIconSlot="start"
              toggleIcon="chevron-down-outline"
              [value]="account.id"
              (contextmenu)="selectedAccount = account"
            >
              <ion-item slot="header">
                <ion-label>
                  {{ account.name }}
                  @if (account.pockets[0].value; as debt) {
                    <p class="color-value IN">{{ account.value - debt | currency:'':'$ ':'1.2-2' }}</p>
                  }
                </ion-label>

                <ion-text slot="end" class="ion-text-end">
                  <span class="bold-value color-value IN">
                    {{ account.value | currency:'':'$ ':'1.2-2' }}
                  </span>
                  @if (account.pockets[0].value; as debt) {
                    <br>
                    <small class="color-value OUT">(- {{ debt | currency:'':'$ ':'1.2-2' }})</small>
                  }
                </ion-text>

                <ion-reorder slot="end" />
              </ion-item>

              <ion-list slot="content">
                @for (pocket of account.pockets; track pocket.name; let isFirst = $first) {
                  <ion-item>
                    <ion-label>{{ pocket.name }}</ion-label>
                    <ion-text class="color-value" [ngClass]="isFirst ? 'OUT' : 'IN'">{{ pocket.value | currency:'':'$ ':'1.2-2' }}</ion-text>
                  </ion-item>
                }
              </ion-list>
            </ion-accordion>
          } @else {
            <ion-accordion readonly toggleIconSlot="start" [toggleIcon]="null" (contextmenu)="selectedAccount = account">
              <ion-item slot="header">
                <ion-label>
                  {{ account.name }}
                  <p class="color-value IN">{{ account.limit - account.value | currency:'':'$ ':'1.2-2' }}</p>
                </ion-label>

                <ion-text slot="end" class="ion-text-end">
                  <span class="bold-value color-value OUT">{{ account.value | currency:'':'$ ':'1.2-2' }}</span>
                </ion-text>

                <ion-reorder slot="end" />
              </ion-item>
            </ion-accordion>
          }
        }
      </ion-reorder-group>
    </ion-accordion-group>
  } @else {
    <ion-spinner class="content-spinner" color="primary" />
  }

  <ion-modal [isOpen]="isFormOpen" (didDismiss)="isFormOpen = false">
    <ng-template>
      <app-account-form (closeModal)="isFormOpen = false" />
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="!!selectedAccount" (didDismiss)="selectedAccount = undefined">
    <ng-template>
      @if (selectedAccount) {
        <app-account-settings [account]="selectedAccount" (closeModal)="selectedAccount = undefined" />
      }
    </ng-template>
  </ion-modal>
</ion-content>